<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<link  rel="stylesheet" th:href="@{/css/adminhome.css}"/>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
<div class="admin">
  <h1>Welcome to Admin Home Page</h1>
  
 <div class="div">
  <form action="/logout" method="post">
    <input type="submit" value="LOGOUT" class="out">
  </form>
  </div>
 
   <a href="/addsong">Click to ADD SONGS</a>
   <br/></br><br/><br/>
  
    <a href="/viewsongs">Click to view All Songs</a>
    <br/><br/><br/><br/>
   
    
  <a href="/map-createplaylist">Click to Create PlayList</a>
  
  <br/><br/><br/><br/>
  
  <a href="/map-viewplaylist">Click to view PlayList</a>
  </div>
</body>
</html>