<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Explore Songs</title>
<link rel="stylesheet" th:href="@{/css/explore.css}">

</head>
<body>

  
  <a href="/map-customerviewsongs">Click to view Songs</a>
  
  <br/><br/>  <br/><br/>
  
  
  <a href="/map-viewcustomerplaylists">Click to view PlayList</a>
  
  <br/><br/>  <br/><br/>
  
  <a href="/map-usercreateplaylist">Click to create playList</a>
  
  <br/><br/>  <br/><br/>
  
  <a href="/map-view">Click to view User Play List</a>
  

</body>
</html>