<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/forgotpassword.css}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<h2>FORGOT PASSWORD</h2>
 <form action="/forgotpassword" method="post">
 <label>Email ID <i class='bx bx-envelope bx-flip-horizontal' style='color:#df2727' ></i></label><br/>
  <input type="email" name="email" placeholder="Enter Your Existing Email ID">
  
  <br/><br/>
  <label>New Password <i class='bx bxs-key' style='color:#df2727' ></i></label><br/>
  
  <input type="password" name="password" placeholder="Enter New Password">
  
  <br/><br/>
  
  <input type="submit" value="RESET" class="reset">
 </form>
</body>
</html>