<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/customerviewsongs.css/}">
<style>
 li{
  list-style:none;
 }
</style>
</head>
<body>
<h2>Customer PlayList Songs</h2>
<div class="div">
<form action="logout" method="post">
  <input type="submit" value="LOGOUT" class="out">
  
</form>
<br/>
</div>
  <table border="1" class="center">
     <tr>
       
       <td>Play List name</td>
       <td>PlayList Songs</td>
     </tr>   
       
       <tr th:each="plist:${plist}">
      
         
          <td th:text="${plist.name}"></td>
         
         <td>
           <ul th:each="ss:${plist.songs}">
           <span th:text="${ss.name}"></span>
             <li>
                <audio controls>
                    <source th:src="${ss.link}"type="audio/mpeg">
                </audio>
              </li>
           </ul>
         </td> 
     </tr>
  </table>
</body>
</html>