@charset "ISO-8859-1";
body{
	text-align:center;
	font-size:larger;
	background-image:url('/image/addsong.jpg');
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	 background-repeat: no-repeat;
	 color:cyan;
}
i{
	
	color:red;
	font-size:29px;
}
.btn{
	
	width:200px;
	height:75px;
	border-radius:20px;
	background-color:purple;
	color:cyan;
	font-size:larger;
	
	
}
.btn:hover{
	background:green;
	color:orange;
	
	
	
	
}
input{
	width:300px;
	height:20px;
}
.logout{
	border-radius:10px;
	width:100px;
	height:27px;
	background-color:cyan;
}
.logout:hover{
	background-color:magenta;
	color:cyan;
}