@charset "ISO-8859-1";
body{
	text-align:center;
	font-size:29px;
	background-image:url('/image/guitar.jpg');
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	color:cyan;
}
i{
	font-size:39px;
}
.reset{
	cursor:pointer;
	border-radius:10px;
	width:100px;
	height:30px;
}
.reset:hover{
	width:200px;
	height:35px;
	background-color:magenta;
	
}
input{
	width:250px;
	height:30px;
	text-align:center;
}
